.git
.gitignore
.gitattributes
.env.local
.env.*.local
.claude
.idea
.vscode
.github
var/cache/*
var/log/*
node_modules
vendor
tests
.phpunit.cache
*.md
Dockerfile
.dockerignore
compose.yaml
compose.override.yaml
composer-setup.php
