{% extends 'base.html.twig' %}

{% block title %}Create Article{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Create New Article</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary mt-3">Create Article</button>
        {{ form_end(form) }}

        <a href="{{ path('article_index') }}" class="btn btn-secondary mt-3">Back to Articles</a>
    </div>
{% endblock %}